/* styles/Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
    width: 90%;
    margin: auto;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00bcd4;  /* Color change on hover */
}
